.escondido {
  display: none;
}

button {
  height: 200px;
  width: 200px;
}

body>div {
  width: 300px;
  height: 300px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: aquamarine;

  position: fixed;
  top: 10px;
  left: 10px;
}

body>div button {
  transition: transform 0.6s linear;
}

body>div.fugir button{
  transform: translate(-50vw, -50vh);
}